.test {
  font-family: Arial, Tahoma
}

.picture {
  border-radius: 20px;
}

.button {
  margin: 0;
  float: right;
  text-decoration: none;
  background-color: #00c094;
  border-radius: 2px;
  color: white;
  font-size: 14px;
}