.bar {
  background-color: rgb(229,229, 229);
  width: 50%;
  height: 12px;
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
}

.header {
  font-size: 12px;
  font-weight: 700;
  color: rgb(0, 10, 18);
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  width: 75px;
  margin-left: 0;
  color: rgb(74, 74, 74);
}

.rating:hover {
  color: rgb(0, 166, 128);
  font-weight: 600;
  cursor: pointer;
}

.main {
  width: 80%;
  margin-top: 30px;
  font-size: 12px;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.entry {
  margin-bottom: 5px;
  font-size: 12px;
}

.innerBar {
  background-color: rgb(0, 166, 128);
  height: 12px;
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  margin-left: 0;
}